.section-customers {
  text-align: center;

  h3,
  h4 {
    font-family: "Muli-Bold", sans-serif;
  }

  h3 {
    line-height: 52px;
    font-size: 3.8rem;
  }

  h4 {
    line-height: 42px;
    font-size: 2.8rem;
  }

  .customers-logo span {
    display: inline-block;
    margin: 0 1rem;
  }
}