@font-face {
  font-family: "Muli-Bold";
  src: url("./../fonts/muli-bold.woff2");
}

@font-face {
  font-family: "Muli-Regular";
  src: url("./../fonts/muli-regular.woff2");
}

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Muli-Regular", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  li {
    padding: 0.5rem 0;
    list-style: none;
  }
}

.container {
  max-width: 100%;
  margin: auto;

  &.container--large {
    max-width: 1220px;
  }

  &.container--medium {
    max-width: 1110px;
  }
}

.l-section {
  padding: 50px 0;
}

.m-section {
  padding: 30px 0;
}

.l-section,
.m-section {
  .w-30,
  .w-40,
  .w-50,
  .w-60,
  .w-70,
  .w-80,
  .w-90 {
    margin: auto;
  }

  .w-30 {
    width: 30%;
  }
  .w-40 {
    width: 40%;
  }
  .w-50 {
    width: 50%;
  }
  .w-60 {
    width: 60%;
  }
  .w-70 {
    width: 70%;
  }
  .w-80 {
    width: 80%;
  }
  .w-90 {
    width: 90%;
  }
}

.flex {
  display: flex;

  &.flex--jcc,
  .flex-jcc {
    justify-content: center;
  }

  &.flex--jcl,
  .flex-jcl {
    justify-content: left;
  }

  &.flex--jcr,
  .flex-jcr {
    justify-content: right;
  }

  &.flex--jcsb,
  .flex--jcsb {
    justify-content: space-between;
  }

  &.flex--aic,
  .flex--aic {
    align-items: center;
  }
}

.flex-equal-columns {
  flex-grow: 1;
  flex-basis: 0;
}